header{
    height: 10vh;
    background: url("../img/line-txt.jpg");
    background-size: cover;
    margin: -1vh;
    padding: 20px;
}
header a{
    padding: 10px;
}
#left {
	display: flex; 
	align-items: center;
	justify-content: space-between; 
	width: 40%; 
}
#logo{
    height: 70px;
}

#contact-1{
    display: flex;
    margin: 10px 50px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#bernie{
    margin: 10px;
    width: 50vh;
}
footer{
    background: rgb(253, 255, 165);
}