header{
    height: 10vh;
    background: url("../img/line-txt.jpg");
    background-size: cover;
    margin: -1vh;
    padding: 20px;
}
header a{
    padding: 10px;
}
#left {
	display: flex; 
	align-items: center;
	justify-content: space-between; 
	width: 40%; 
}
#logo{
    height: 70px;
}

body{
    background:rgb(253, 255, 165);
    
}

h2{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}
.gallery img{
    height: 25%;
    width: 25%;

}
.gallery img:hover{
    transform: scale(1.3);

}


#layout{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;



}

#photography{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;



}

#packaging{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

footer{
    background: url("../img/line-txt.jpg");
    background-size: cover;
    height: 10vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: .25%;
    text-align: center;

}