header{
    height: 10vh;
    background: url("../img/line-txt.jpg");
    background-size: cover;
    margin: -1vh;
    padding: 20px;
}

header a{
    padding: 10px;
}

#left {
	display: flex; 
	align-items: center;
	justify-content: space-between; 
	width: 40%; 
}


#logo{
    height: 70px;
}

#yellow{
    background: rgb(253, 255, 165);
}

#bio{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
   
   
    
}

#bio img{
    height: 40vw;
    
    
}

#portfolio{
font-family: 'Merriweather Sans', sans-serif;
font-weight: bold;
text-align: center;
}

.gallery img{
    width: 230px;
    filter: grayscale(100% );
    
}


.gallery img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);

}


.gallery{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin: 10px 50px;
    

}

footer{
    background-image: url(../img/line-txt.jpg);
    background-color: grey;
    background-blend-mode: screen;
    background-size: cover;
}

@media only screen and (min-width: 0) { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }


  }

  @media only screen and (min-width: 26em)  {
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Tablet Size";
    }
    #bio{
        font-size: 100%;
        
    }
    #bio p{
        padding-left: 20px;
    }
  
  }

  @media screen and (min-width: 72em)  { 
  
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Desktop Size";
    }

    #bio{
        font-size: 180%;
        
    }
    #bio p{
        padding-left: 20px;
    }
}
    

    @media screen and (min-width: 90em) { 
  
        /* Diagnostic Styling. Delete When Done. */
        body:before {
             background: yellow;
             content: "Wide Desktop Size";
        }
    }
    